!!!
html
  head
    meta(charset="utf-8")
    title Mocha Tests
    link(rel="stylesheet",href="/stylesheets/mocha.css")
  body
    #mocha

    != js('test/vendor/mocha')
    != js('test/vendor/chai')
    script
      chai.Should();
    script
      mocha.setup('bdd');

    != js('test/HelloSpec')
    != js('test/FooSpec')

    script
      mocha.checkLeaks();
      mocha.globals(['jQuery']);
      mocha.run();
