!!!
html
  head
  meta(charset="utf-8")
  title Mocha Tests
  link(rel="stylesheet",href="/stylesheets/mocha.css")
body
  #mocha
  != js('test/HelloSpec')
  script
    mocha.setup('bdd');
    mocha.checkLeaks();
    mocha.globals(['jQuery']);
    mocha.run();
